* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "League Spartan", sans-serif;
}

body {
  background: url("images/bg-pattern-bottom-mobile.svg"),
    url("images/bg-pattern-top-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom right, top left;
}

h1 {
  font-size: 335%;
  color: #4a224a;
  text-align: center;
  /* position: relative; */
  top: 4rem;
  margin-top: 20%;
}

.head {
  width: 80%;
  margin: auto;
}

h3 {
  text-align: center;
  line-height: 1.5;
  font-size: 127%;
  color: #81797e;
}

.sub-head {
  width: 80%;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}

.centre-container {
  height: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.sub-centre-container {
  height: 22%;

  width: 80%;
  border-radius: 14px;
  background-color: #f6f2f9;
}

.image-star {
  width: 45%;
  margin: auto;

  justify-content: space-around;
  display: flex;
  margin-top: 1%;
}

img {
  width: 1.5rem;
}

.sub-text {
  text-align: center;
  color: #482b46;
  font-weight: bold;
  margin: 1rem;
  margin-top: 19px;
}

.container-bottom-main {
  width: 100%;
  height: 62rem;
}

.container-bottom {
  width: 85%;
  height: 58rem;

  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contaniner-box {
  background-color: #511f50;
  border-radius: 2px;
  height: 16rem;
  width: 100%;
  border-radius: 14px;
}

.quote-div {
  width: 69%;
  margin: auto;

  height: 62%;
  margin-top: 1.5rem;
  font-size: 108%;
}

.quote {
  color: white;
  line-height: 1.5;
}

.photo-name {
  width: 171px;
  display: flex;
  justify-content: space-between;
  margin-left: 3.9rem;
  margin-top: 2rem;
  align-items: center;
}
.image-person {
  border-radius: 50px;
  width: 3rem;
}

.person-name {
  color: white;
  font-weight: bold;
}

.buyer {
  color: #cf9fff;
  margin-top: 5px;
}
@media (min-width: 920px) {
  body {
    background: url("images/bg-pattern-bottom-desktop.svg"),
      url("images/bg-pattern-top-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom right, top left;
  }

  .conatiner-important {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-size: 455%;
    color: #4a224a;
    /* position: relative; */
    top: 4rem;
    margin-top: 20%;
    text-align: left;
  }
  head {
    width: 54%;
  }

  .sub-head {
    width: 84%;
    margin: 0;
  }

  .centre-container {
    height: 21rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    width: 39rem;
    margin-top: 6rem;
  }

  .container-bottom {
    width: fit-content;
    height: 21rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
  }

  .conatiner-important-left {
    width: 50%;
  }

  .sub-centre-container:nth-of-type(2) {
    position: relative;
  }

  h3 {
    text-align: left;
    line-height: 1.5;
    font-size: 130%;
    color: #81797e;
    /* position: relative; */
    /* top: 0rem; */
    text-align: left;
    padding-left: 0;
    padding-top: -7rem;
    position: relative;
    top: -1rem;
    font-weight: normal;
    font-weight: 500;
  }

  .contaniner-box {
    background-color: #511f50;
    border-radius: 2px;
    height: 80%;
    width: 31%;
    border-radius: 10px;
  }
  .quote-div {
    width: 69%;
    margin: auto;
    height: 61%;
    margin-top: 1.6rem;
    font-size: 110%;
    margin-left: 4rem;
  }
  .image-star {
    width: 45%;
    margin: auto;
    justify-content: space-around;
    display: flex;
    margin-top: 2.2%;
  }

  .sub-centre-container {
    height: 19%;
    width: 86%;
    border-radius: 14px;
    background-color: rgb(246, 242, 249);
    display: flex;
    align-items: center;
  }

  .sub-centre-container:nth-child(1) {
  }
  .sub-centre-container:nth-child(2) {
    margin-left: 5rem;
  }
  .sub-centre-container:nth-child(3) {
    margin-left: 10rem;
  }

  .contaniner-box:nth-child(2) {
    position: relative;
    top: 1.4rem;
  }

  .contaniner-box:nth-child(3) {
    position: relative;
    top: 3rem;
  }

  .container-bottom-main {
    width: 100%;
    height: 26rem;
  }

  .main-container {
    width: 78%;
    margin: auto;
  }

  .head {
    width: 80%;
    margin: 0;
  }

  .photo-name {
    width: 46%;
    display: flex;
    justify-content: space-between;
    margin-left: 3.9rem;
    margin-top: 2rem;
    align-items: center;
  }
}

@media (min-width: 928px) and (max-width: 1269px) {
  .contaniner-box {
    background-color: #511f50;
    border-radius: 2px;
    height: 112%;
    width: 31%;
    border-radius: 10px;

  }
}
